<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieKing</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    


  <!-- NAVIGATION BAR COMES HERE -->
       
       <div class="container">
        <div class = "menu" >
         <i class="title">
             MOVIEKING
         </i>
 
         <a href="#">
             HOME
         </a>
 
         <a href="#">
             MOVIES
         </a>
 
         <a href="#">
             PRICES
         </a>
 
         <img src="IMG/NavLogo.png" alt="NavLogo">
 
         <a href="#">
             SERVICES
         </a>
 
         <a href="#">
             DOWNLOADS
         </a>
 
         <a href="#">
             IMPRINT
         </a>
 
         <a href="#">
             CONTACT
         </a>

         <br>

        <!-- SHOWCASE -->

        <div class="showcase">
            <i class="title">
                MovieKing
            </i>

            <br>

            <i>
                Movies for you and old!
            </i>

            <br>

            <button class="button"> Sign Up </button>
        </div>

        <br>
        <br>


        <section class="section-1">
            <img src="IMG/section1.jpg" alt="Section1">
            <h1>Movie Quality</h1>
            <p>Our movies can be streamed in all well known formats up to 8K. It is our target to stay tuned when it comes to resolution.</p>
            <button class="button">Downloads</button>
        </section>

        <section class="section-2">
            <img src="IMG/section2-1.jpg" >
            <img src="IMG/section2-2.jpg">
            <img src="IMG/section2-3.jpg">
            <img src="IMG/section2-4.jpg">
            <img src="IMG/section2-5.jpg">
            <img src="IMG/section2-6.jpg">
            <img src="IMG/section2-7.jpg">
            <img src="IMG/section2-8.jpg">
        </section>

    </div>
</body>
</html>