<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookingJohn</title>
</head>
<body>
    <div class="container">
        <!-- NAVIGATION BAR COMES HERE -->

        <!-- SHOWCASE -->

        <section>
                <h1>BookingJohn Cruises</h1>
                <p>Our ships are some of the modern ones in the world. Food and drinks are included and we offer balcony rooms only!</p>
                <button>See our routes</button>
            <img src="IMG/section1.jpg" alt="Section1">
        </section>

        <section class="section-2">
            <img src="IMG/section2-1.jpg">
            <img src="IMG/section2-2.jpg">
            <img src="IMG/section2-3.jpg">
            <img src="IMG/section2-4.jpg">
            <img src="IMG/section2-5.jpg">
            <img src="IMG/section2-6.jpg">
            <img src="IMG/section2-7.jpg">
            <img src="IMG/section2-8.jpg">
        </section>

    </div>
</body>
</html>